<div class="comment-box">
  <div class="content-wrapper">
    <div class="number-box">
      <button class="add">
        <img src="/assets/images/icon-plus.svg" alt="add" />
      </button>

      <div class="likes">{{ comment.score }}</div>
      <button class="subtract">
        <img src="/assets/images/icon-minus.svg" alt="subtract" />
      </button>
    </div>
    <div class="comment-content">
      <div class="banner">
        <img class="avatar" src="/assets/{{ comment.user.image.png }}" alt="" />
        <div class="username">{{ comment.user.username }}</div>
        <div class="timestamp">{{ comment.createdAt }}</div>

        <button>
          <img src="/assets/images/icon-reply.svg" alt="arrow" />
          <div class="reply">Reply</div>
        </button>
      </div>
      <div class="comment">
        {{ comment.content }}
      </div>
    </div>
  </div>
</div>
