$moderate-blue: hsl(238, 40%, 52%);
$soft-red: hsl(358, 79%, 66%);
$light-gray-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);

$dark-blue: hsl(212, 24%, 26%);
$gray-blue: hsl(211, 10%, 45%);
$light-grey: hsl(223, 19%, 93%);
$very-lt-grey: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

.comment-box {
  background-color: $white;
  width: 775px;
  height: 160px;
  border-radius: 10px;
  .content-wrapper {
    display: flex;
    margin: 25px;
    .number-box {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      margin-top: 30px;
      max-height: 95px;
      min-width: 35px;
      border-radius: 5px;
      background-color: $light-grey;
      .add {
        cursor: pointer;
        border: none;
        background-color: $light-grey;
      }
      .subtract {
        cursor: pointer;
        border: none;
        background-color: $light-grey;
      }
    }
    .comment-content {
      padding: 25px;
      .banner {
        display: flex;
        align-items: center;
        width: 675px;
        .avatar {
          height: 30px;
        }
        .username {
          margin-left: 15px;
          font-weight: 500;
        }
        .timestamp {
          margin-left: 20px;
          color: $gray-blue;
        }
        button {
          cursor: pointer;
          margin-left: auto;
          background-color: $white;
          color: $moderate-blue;
          border: none;
          display: flex;
          align-items: center;
          .reply {
            margin-left: 5px;
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
      .comment {
        line-height: 1.3;
        margin-top: 15px;
        width: 650px;
        color: $gray-blue;
      }
    }
  }
}
