<div class="comment-box">
  <div class="number-box">
    <img src="/assets/images/icon-plus.svg" alt="add" />
    12
    <img src="/assets/images/icon-minus.svg" alt="subtract" />
  </div>
  <div class="comment-content">
    <div class="banner">
      <img src="/assets/images/avatars/image-amyrobson.png" alt="" />
      1 month ago
      <button>
        <img src="/assets/images/icon-reply.svg" alt="arrow" /> Reply
      </button>
    </div>
    <div class="comment">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum officia
      eaque recusandae voluptatum facere corrupti suscipit adipisci repellendus
      optio, at architecto aliquam! Consequuntur, excepturi incidunt! Deserunt
      eum harum tenetur eos.
    </div>
  </div>
</div>
