<div class="comment-box">
  <div class="content-wrapper">
    <div class="number-box">
      <button class="add">
        <img src="/assets/images/icon-plus.svg" alt="add" />
      </button>

      <div class="likes">12</div>
      <button class="subtract">
        <img src="/assets/images/icon-minus.svg" alt="subtract" />
      </button>
    </div>
    <div class="comment-content">
      <div class="banner">
        <img
          class="avatar"
          src="/assets/images/avatars/image-amyrobson.png"
          alt=""
        />
        <div class="username">amyrobson</div>
        <div class="timestamp">1 month ago</div>

        <button>
          <img src="/assets/images/icon-reply.svg" alt="arrow" />
          <div class="reply">Reply</div>
        </button>
      </div>
      <div class="comment">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum
        officia eaque recusandae voluptatum facere corrupti suscipit adipisci
        repellendus optio, at architecto aliquam! Consequuntur, excepturi
        incidunt! Deserunt eum harum tenetur eos.
      </div>
    </div>
  </div>
</div>
